# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars.backup
*.tfplan
tfplan-*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform outputs
outputs-*.json
